html {
    font-family: helvetica;

}

body {
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

.active {
    color: #d0021b !important;
}

.site-header {
    float: top;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.site-header img {
    height: 80%;
    width: auto;
}

#site-nav {

    text-align: center;
    margin: 0 auto;
}

.site-nav ul, li {
    padding: 0px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}